# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment
.env
server/.env
client/.env

# Uploads
server/uploads/

# Build
client/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
-e 
# Winston log files
server/logs/
